<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    
    <div id="login-box">
       <h1>Login</h1> 
        <form id="add-user">
            <div class="login-labels">
                <label for="name">First Name:</label><br>   
            </div>
                <input type="text" id="firstName" name="firstName" placeholder="John"><br>
          <div class="login-labels">
            <label for="name">Last Name:</label><br>    
         </div>
            <input type="text" id="lastName" name="lastName" placeholder="Doe"><br>
         <div class="login-labels">
             <label for="email">Username:</label><br>
         </div>
            <input type="text" id="userName" name="userName" placeholder="John123"><br>
        <div>
            <label class="login-labels" for="email">Email Address:</label><br>
        </div>
            <input type="email" id="email" name="email" placeholder="john.doe@gmail.com"><br><br>
        <div>
            <label class="login-labels" for="password">Password:</label><br>
        </div>

        <div class="login-labels" style="text-align:left;">
            <input type="password" id="password" name="password" placeholder="123abc!..."><br><br>
            <input type="submit" id="add-userBtn" value="Submit">
        </div>
       
        </form>
    </div>
    <script src="/js/index.js"></script>
    </body>

</html> -->