<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/userpage.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="profile">
    
            </div>
            <a href="/">Home</a>
            <a href="/userspage">Posts</a>
            <a href="/favorites">Favorites</a>
            <a href="/about">Profile</a>
        </div>
     
    </div>


    <div>
        <form id="add-post">
            <label for="userName">Title:</label><br>
            <input type="text" id="title" name="title" placeholder="Title for post..."><br>
            <label for="post">Post:</label><br>
            <input type="text" id="posts" name="posts" placeholder="how you doing?"><br><br>
            <input type="submit" value="Add Post" id="add-postBtn">
        </form>
    </div>

    <div id="newPosts">

    </div>

    <nav>
        <div class="right-sidebar">
            <a href="/">Home</a>
            <a href="/userspage">Posts</a>
            <a href="/favorites">Favorites</a>
            <a href="/about">Profile</a>
        </div>
    </nav>

    <script src="../js/index.js"></script>
    <script src="../js/posts.js"></script>
    </body>

</html> -->